[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
click = "*"
flask = "*"
pyyaml = "*"
waitress = "*"
matplotlib = "*"

[dev-packages]
yapf = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.12"

[scripts]
start = "pipenv run python src/serve.py port=37137"
dev = "pipenv run python src/serve_dev.py port=37137 debug"
prettier = "pipenv run yapf -i -r src cli"
lint = "pipenv run pylint src cli --disable=C"
test = "pipenv run pytest src"
