[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "~=1.13.1"
click = "*"
flask = "*"
pyyaml = "*"
waitress = "*"
matplotlib = "*"

[dev-packages]
yapf = "*"
pylint = "*"
pytest = "*"
pyinstaller = "*"
pytest-mock = "*"

[requires]
python_version = "3.12"

[scripts]
start = "pipenv run python serve.py port=37137"
dev = "pipenv run python serve_dev.py port=37137 debug"
prettier = "pipenv run yapf -i -r src cli"
lint = "pipenv run pylint src cli --disable=C"
test = "pipenv run pytest src"
