@font-face {
  font-family: 'Open Sans';
  /* The URL is correct, files in public/ are accessible at root */
  src: url(/OpenSans-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: #222;
}
h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    color: #444;
}
h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    color: #555;
}
.h-margin {
    margin-top: 16px;
    margin-bottom: 8px;
}

code {
    font-size: 1.0rem;
    line-height: 1.5;
}

/* Override gray text for readonly spreadsheet cells */
.Spreadsheet__cell.Spreadsheet__cell--readonly {
    color: inherit;
}

/* Common MUI Input variants; better to use class than comp hierarchy, because it's for various component types, and used only sometimes */
.medium-input {
    max-width: 300px;
}
.num-input {
    max-width: 150px;
}